In [24]:
%matplotlib inline
import pviz as pz
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display
no2 = pz.Pollutant("data/NO2_2003_2017.csv", "NO2")

Using matplotlib backend: Qt5Agg

In [11]:
df = no2.getStationDF('Bratislava, Trnavské Mýto')

In [12]:
no2.getCoverageByStation('Bratislava, Trnavské Mýto')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Bratislava, Trnavské Mýto</th>
    </tr>
    <tr>
      <th>dtvalue</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2003</th>
      <td>87.203196</td>
    </tr>
    <tr>
      <th>2004</th>
      <td>96.322860</td>
    </tr>
    <tr>
      <th>2005</th>
      <td>95.273973</td>
    </tr>
    <tr>
      <th>2006</th>
      <td>98.002283</td>
    </tr>
    <tr>
      <th>2007</th>
      <td>98.139269</td>
    </tr>
    <tr>
      <th>2008</th>
      <td>99.533242</td>
    </tr>
    <tr>
      <th>2009</th>
      <td>96.621005</td>
    </tr>
    <tr>
      <th>2010</th>
      <td>82.910959</td>
    </tr>
    <tr>
      <th>2011</th>
      <td>83.607306</td>
    </tr>
    <tr>
      <th>2012</th>
      <td>94.239526</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>99.634703</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>98.264840</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>97.089041</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>90.664845</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>90.787671</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
display(df.head())

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dtvalue</th>
      <th>Bratislava, Trnavské Mýto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2003-01-01 00:00:00</td>
      <td>33.190550</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2003-01-01 01:00:00</td>
      <td>39.216500</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2003-01-01 02:00:00</td>
      <td>39.790399</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2003-01-01 03:00:00</td>
      <td>37.112199</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2003-01-01 04:00:00</td>
      <td>37.877399</td>
    </tr>
  </tbody>
</table>
</div>

In [43]:
df = df.dropna()
x_hour_week_mounth =np.hstack([df['dtvalue'].dt.month.values.reshape(-1,1),
            df['dtvalue'].dt.weekday.values.reshape(-1,1),
              df['dtvalue'].dt.hour.values.reshape(-1,1),
              ])
y_values = df['Bratislava, Trnavské Mýto'].values

In [44]:
n_train = round(len(df)*0.75)

def eval_on_features(features, target, regressor):
    X_train, X_test = features[:n_train], features[n_train:]
    y_train, y_test = target[:n_train], target[n_train:]
    regressor.fit(X_train, y_train)
    print("Test-set R^2: {:.2f}".format(regressor.score(X_test, y_test)))

In [45]:
from sklearn.linear_model import LinearRegression
eval_on_features(x_hour_week_mounth, y_values, LinearRegression())

Test-set R^2: 0.11

In [46]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import Ridge
enc = OneHotEncoder()
X_hour_week__mounth_onehot = enc.fit_transform(x_hour_week_mounth).toarray()
eval_on_features(X_hour_week__mounth_onehot, y_values, Ridge())

Test-set R^2: 0.25

In [48]:
from sklearn.preprocessing import PolynomialFeatures
poly_transformer = PolynomialFeatures(degree=2, interaction_only=True,
                                      include_bias=False)
X_hour_week__mounth_onehot_poly = poly_transformer.fit_transform(X_hour_week__mounth_onehot)
lr = Ridge()
eval_on_features(X_hour_week__mounth_onehot_poly, y_values, lr)

Test-set R^2: 0.32